
<!--<div>
    <table>
        <tr>
         <td>ID: <input type="text" name="id" [(ngModel)]="id"></td>
         <td>First Name: <input type="text" name="firstName" [(ngModel)]="firstName"></td>
         </tr>
         <tr>
            <td>Last Name: <input type="text" name="lastName" [(ngModel)]="lastName"></td>
         </tr>
         <tr>
            <td> Gender: <input type="text" name="gender" [(ngModel)]="gender"></td>
         </tr>
         <tr>
            <td>Address: <input type="text" name="address" [(ngModel)]="address"></td>
         </tr>
         <tr>
            <td>Address: <input type="text" name="email" [(ngModel)]="email"></td>
         </tr>
         <tr>
            <td>Address: <input type="text" name="password" [(ngModel)]="password"></td>
         </tr>
         <tr>
            <td>Address: <input type="text" name="role" [(ngModel)]="role"></td>
         </tr>
         <tr>
            <td>Contact No: <input type="text" name="contactNo" [(ngModel)]="contactNo"></td>
         </tr>
         <tr>
            <td>Technology: <input type="text" name="technology" [(ngModel)]="technology"></td>
         </tr>
         <tr>
            <td><button type="button" name="btn" (click)=" AddEmployeeDetails()">Register</button></td>
          </tr>
        </table>
</div>-->


<div>
   <img src="/assets/images/img3.jpg" class="body1">
 <div class="login-box">
        <form>
        <!--<p>ID</p>
        <input type="text" name="id" [(ngModel)]="id" placeholder="id">-->
        <p>First Name</p>
        <input type="text" name="firstName" [(ngModel)]="firstName" placeholder="Enter First Name">
        <p>Last Name</p>
        <input type="text" name="lastName" [(ngModel)]="lastName" placeholder="Enter Last Name"/>
        <p>Gender</p>
        <input type="text" name="gender" [(ngModel)]="gender" placeholder="Enter gender"/>
        <p>Address</p>
        <input type="text" name="address" [(ngModel)]="address" placeholder="Enter Address"/>
        <p>Contact No</p>
        <input type="text" name="contactNo" [(ngModel)]="contactNo" placeholder="Enter Contact No."/> 
        <p>Email</p>
        <input type="text" name="email" [(ngModel)]="email" placeholder="Enter Email example@gmail.com"/> 
        <p>Password</p>
        <input type="text" name="password" [(ngModel)]="password" placeholder="Enter Password"/> 
        <p>Role</p>
        <input type="text" name="role" [(ngModel)]="role" placeholder="Enter Role"/>
        <p>Technology</p>
        <input type="text" name="technology" [(ngModel)]="technology" placeholder="Enter Technology"/>  
      <input type="submit" name="submit" (click)=" AddEmployeeDetails()">
       </form>
    
    
    </div>
 
 </div>